---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				"Software engineering should be known as 'The Doomed Discipline', doomed because it cannot even approach its goal since its goal is self-contradictory. Software engineering, of course, presents itself as another worthy cause, but that is eyewash: if you carefully read its literature and analyse what its devotees actually do, you will discover that software engineering has accepted as its charter 'How to program if you cannot'."
				- Edsger Dijkstra
			</p>
			<a href="https://1drv.ms/b/s!Ap6vzaIS5CKAg_NwxdO7sQb0C4AraA">Resume</a>
			<h3 style="margin-bottom:-3px">Contact</h3>
			<address>
				<a href="mailto:ian.goforth@gmail.com">ian.goforth@gmail.com</a><br>
				<a href="tel:+19013780922">(901) 378-0922</a>
			</address>
		</main>
		<Footer />
	</body>
</html>
