---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2 style="margin-bottom:-10px">Welcome, all!</h2>
			<a href="https://1drv.ms/b/s!Ap6vzaIS5CKAg8l2NZ6BMnJB28H8CQ?e=SMus5o">Resume</a>
			<h3 style="margin-bottom:-10px">Contact</h3>
			<address>
				<a href="mailto:ian.goforth@gmail.com">ian.goforth@gmail.com</a><br>
				<a href="tel:+19013780922">(901) 378-0922</a>
			</address>
		</main>
		<Footer />
	</body>
</html>
